body {
    background-image: url('Green-Wallpaper-.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 128, 0, 0.7); /* Semi-transparent green */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    background-color: rgba(0, 128, 0, 0.5); /* Semi-transparent green */
    margin: 20px;
    border-radius: 10px;
    
}

#testimonials h1 {
    font-size: 3em; /* Adjust the size as needed */
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.7); /* Semi-transparent green */
    position: relative;
    width: 100%;
    bottom: 0;
    height: 50px;
}